#app {
    text-align: center;
  }
  #app .ant-layout-header,
  #app .ant-layout-footer {
    background: #7dbcea;
    color: #fff;
  }
  #app .ant-layout-footer {
    line-height: 1.5;
  }
  #app .ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
  }
  #app .ant-layout-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }
  #app > .ant-layout {
    margin-bottom: 48px;
  }
  #app > .ant-layout:last-child {
    margin: 0;
  }